CNSDEVCOLECT/force-app/main/default/flows/cambia_tipo_campania.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>tipo_campania_sales</name>
        <label>Tipo de Campaña</label>
        <locationX>578</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>up_tipo_void</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tipo_atraccion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignMemberRecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales_atraccion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>up_tipo_atraccion</targetReference>
            </connector>
            <label>Tipo Atraccion</label>
        </rules>
        <rules>
            <name>tipo_crobranza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignMemberRecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales_cobranza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>up_tipo_cobranza</targetReference>
            </connector>
            <label>Tipo Cobranza</label>
        </rules>
        <rules>
            <name>tipo_retencion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignMemberRecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales_retencion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>up_tipo_retencion</targetReference>
            </connector>
            <label>Tipo Retención</label>
        </rules>
        <rules>
            <name>tipo_vinculacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignMemberRecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales_vinculacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>up_tipo_vinculacion</targetReference>
            </connector>
            <label>Tipo Vinculación</label>
        </rules>
    </decisions>
    <interviewLabel>Cambia Tipo de Campaña {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cambia Tipo de Campaña</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>up_tipo_atraccion</name>
        <label>Tipo Atracción</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_de_campana_sales__c</field>
            <value>
                <stringValue>Atracción</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>up_tipo_cobranza</name>
        <label>Tipo Cobranza</label>
        <locationX>314</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_de_campana_sales__c</field>
            <value>
                <stringValue>Cobranza</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>up_tipo_retencion</name>
        <label>Tipo Retención</label>
        <locationX>578</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_de_campana_sales__c</field>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>up_tipo_vinculacion</name>
        <label>Tipo Vinculación</label>
        <locationX>842</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_de_campana_sales__c</field>
            <value>
                <stringValue>Vinculación</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>up_tipo_void</name>
        <label>Tipo Void</label>
        <locationX>1106</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_de_campana_sales__c</field>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>tipo_campania_sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123m000001hZglAAE</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rt_campania</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123m000001hZglAAE</stringValue>
        </value>
    </variables>
</Flow>
