CNSDEVCOLECT/force-app/main/default/flows/Cierre_Tarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CloseTaskNotification</name>
        <label>CloseTaskNotification</label>
        <locationX>314</locationX>
        <locationY>2039</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotificationTask</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Tarea Cerrada</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>DestinatarioNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignRecipientIds</name>
        <label>AssignRecipientIds</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>DestinatarioNotificacion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CloseTaskNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subject_Task</name>
        <label>Set Subject Task CAD</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Var_Task_Suject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Task_CAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_CAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subject_Task_CL</name>
        <label>Set Subject Task CL</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Var_Task_Suject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Task_CL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_CL</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NotificationName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>cnf_sal_cn_alerta_desktop</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Validar el tipo de documento que se est치 actualizando para luego actualizar tareas del mismo tipo relacionado</description>
        <name>Des_Validate_Doc_Type</name>
        <label>Des_Validate_Doc_Type</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Get_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Documento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var_CAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subject_Task</targetReference>
            </connector>
            <label>Is CAD</label>
        </rules>
        <rules>
            <name>Is_CL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Documento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var_CL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subject_Task_CL</targetReference>
            </connector>
            <label>Is CL</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasOpportunity</name>
        <label>HasOpportunity</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Des_Validate_Doc_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene_Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Des_Validate_Doc_Type</targetReference>
            </connector>
            <label>Tiene Oportunidad</label>
        </rules>
        <rules>
            <name>No_Tiene_Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Tiene Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Get_Task</name>
        <label>Is Get Task</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Update_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Get Records</label>
        </rules>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Records</label>
        </rules>
    </decisions>
    <interviewLabel>Cierre Tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cierre Automatico Tareas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caso_PF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Caso_Relacionado__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>314</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Task_Suject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>GetNotificationType</label>
        <locationX>314</locationX>
        <locationY>1799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipientIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Marcar check CAD Recibido.</description>
        <name>Update_Opp_CAD</name>
        <label>Update Opp CAD</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PF_CAD_recibido__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Marcar check Cert. Liq. Adjuntado.</description>
        <name>Update_Opp_CL</name>
        <label>Update Opp CL</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PF_Cert_Liq_Adjuntado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>GetNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Task_Suject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Tipo_Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificado de Liquidaci칩n</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAD Vigente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ingresado</stringValue>
            </value>
        </filters>
        <object>Object_Related_Document__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyNotificationTask</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Se ha cerrado la tarea &quot;{!Var_Task_Suject}&quot;.</text>
    </textTemplates>
    <variables>
        <name>DestinatarioNotificacion</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CAD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CAD Vigente</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_CL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Certificado de liquidaci칩n</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Task_CAD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Solicitar CAD (Certificado actualizado de deuda)</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Task_CL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Solicitar certificado de liquidaci칩n</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Task_Suject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
