CNSDEVCOLECT/force-app/main/default/flows/cns_cambios_etapa_prospecto_BBEE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>LeadConvertHelperB2b</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>ConverteLead</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>LeadConvertHelperB2b</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>LeadIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>LeadIds</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Curse aprobado</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Cambios en la etapas de prospecto BBEE</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Lead].RecordType.DeveloperName =&apos;sales_empresa&apos;,
$Setup.Consorcio_Org_B2B__c.Sales_Project_B2B__c =TRUE,
ISCHANGED([Lead].Status ),
ISPICKVAL([Lead].Status , &quot;Convertido&quot;) ,
ISCHANGED([Lead].Estado_Curse__c ),
ISPICKVAL([Lead].Estado_Curse__c , &quot;Cursado&quot;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.RecordType.DeveloperName} =&apos;sales_empresa&apos;,
{!$Setup.Consorcio_Org_B2B__c.Sales_Project_B2B__c} =TRUE,
ISCHANGED({!myVariable_current.Status} ),
ISPICKVAL({!myVariable_current.Status} , &quot;Convertido&quot;) ,
ISCHANGED({!myVariable_current.Estado_Curse__c} ),
ISPICKVAL({!myVariable_current.Estado_Curse__c} , &quot;Cursado&quot;) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Lead].RecordType.DeveloperName =&apos;sales_empresa&apos;,
$Setup.Consorcio_Org_B2B__c.Sales_Project_B2B__c =TRUE,
ISCHANGED([Lead].Status ),
ISPICKVAL([Lead].Status , &quot;Convertido&quot;) ,
ISCHANGED([Lead].Estado_Curse__c ),
ISPICKVAL([Lead].Estado_Curse__c , &quot;Cursado&quot;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_old.RecordType.DeveloperName} =&apos;sales_empresa&apos;,
{!$Setup.Consorcio_Org_B2B__c.Sales_Project_B2B__c} =TRUE,
ISCHANGED({!myVariable_old.Status} ),
ISPICKVAL({!myVariable_old.Status} , &quot;Convertido&quot;) ,
ISCHANGED({!myVariable_old.Estado_Curse__c} ),
ISPICKVAL({!myVariable_old.Estado_Curse__c} , &quot;Cursado&quot;) 
)</expression>
    </formulas>
    <interviewLabel>cns_cambios_etapa_prospecto_BBEE-3_InterviewLabel</interviewLabel>
    <label>cns cambios etapa prospecto BBEE</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
