CNSDEVCOLECT/force-app/main/default/flows/CNS_SALES_BBEE_ACTUALIZACION_PROPIETARIOS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Variables para cambiar propietario</description>
        <name>Cambiar_propietario</name>
        <label>Cambiar propietario</label>
        <locationX>167</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cambio_propietario</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 or 9 or 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales_empresa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Consorcio_Org_B2B__c.Sales_Project_B2B__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluación Prospecto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Gestión</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestionado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No_Interesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convertido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_datos_usuario</targetReference>
            </connector>
            <label>Cambio propietario</label>
        </rules>
    </decisions>
    <description>Actualización de objetos relacionados cuando hay cambios de propietarios</description>
    <formulas>
        <description>Cambio de formato de rut</description>
        <name>rut_propietario_transformado</name>
        <dataType>String</dataType>
        <expression>MID({!rut_propietario},1,LEN({!rut_propietario})-1) &amp;&apos;-&apos;&amp; MID({!rut_propietario},LEN({!rut_propietario}),1)</expression>
    </formulas>
    <interviewLabel>CNS SALES BBEE ACTUALIZACION PROPIETARIOS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CNS SALES BBEE ACTUALIZACION PROPIETARIOS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Guardar todos relevantes de usuario, para asignar posteriormente</description>
        <name>Obtener_datos_usuario</name>
        <label>Obtener datos usuario</label>
        <locationX>174</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizacion_campo_rut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>id_propietario</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rut_propietario</assignToReference>
            <field>RUT__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Actualizacion campo rut en lead</description>
        <name>Actualizacion_campo_rut</name>
        <label>Actualizacion campo rut</label>
        <locationX>333</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Actualizacion_datos_complementarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_propietario</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rut_ejecutivo_sales__c</field>
            <value>
                <elementReference>rut_propietario_transformado</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualización propietario de datos complementarios: contactos, clientes, proveedores y socios</description>
        <name>Actualizacion_datos_complementarios</name>
        <label>Actualizacion datos complementarios</label>
        <locationX>505</locationX>
        <locationY>447</locationY>
        <connector>
            <targetReference>Actualizar_lineas_bancarias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id_Prospecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>id_propietario</elementReference>
            </value>
        </inputAssignments>
        <object>Dato_Complementarios__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualización propietario informe de visita</description>
        <name>Actualizar_informe_visita</name>
        <label>Actualizar informe visita</label>
        <locationX>848</locationX>
        <locationY>497</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id_Prospecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>id_propietario</elementReference>
            </value>
        </inputAssignments>
        <object>Informe_de_Visita__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualización de propietario de líneas bancarias</description>
        <name>Actualizar_lineas_bancarias</name>
        <label>Actualizar lineas bancarias</label>
        <locationX>684</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Actualizar_informe_visita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id_Prospecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>id_propietario</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_Bancaria__c</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Cambiar_propietario</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>id_propietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rut_propietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
