CNSDEVCOLECT/force-app/main/default/flows/Crear_Campaign_Member_Status_BBEE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assig_Status_List</name>
        <label>Assig_Status_List</label>
        <locationX>961</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Gestionado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Comité</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Convertido</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sin Gestión</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cotización</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status_List</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cursado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Status_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPMStatus</name>
        <label>Assign_CPMStatus</label>
        <locationX>1245</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>Var_Records_CPMStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_Record_CPMStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Status_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPMStatus_Create_Record</name>
        <label>CPMStatus_Create_Record</label>
        <locationX>1017</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>Var_Record_CPMStatus.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Status_List</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Record_CPMStatus.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Record_CPMStatus.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CPMStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPMStatus_Create_Record_Responded</name>
        <label>CPMStatus_Create_Record_Responded</label>
        <locationX>875</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>Var_Record_CPMStatus.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Status_List</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Record_CPMStatus.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Record_CPMStatus.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CPMStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Des_Validar_Status_Responded</name>
        <label>Des_Validar_Status_Responded</label>
        <locationX>835</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>CPMStatus_Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Status_para_marcar_Responded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Status_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var_Cursado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Status_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var_Convertido</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPMStatus_Create_Record_Responded</targetReference>
            </connector>
            <label>Es Status para marcar Responded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_si_usuario_pertenece_a_un_perfil_BBEE</name>
        <label>Validar si usuario pertenece a un perfil BBEE</label>
        <locationX>723</locationX>
        <locationY>66</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cond_Es_usuario_BBEE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Es_usuario_BBEE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assig_Status_List</targetReference>
            </connector>
            <label>Es usuario BBEE</label>
        </rules>
    </decisions>
    <formulas>
        <name>Es_usuario_BBEE</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Consorcio_Org_B2B__c.Sales_Project_B2B__c}</expression>
    </formulas>
    <interviewLabel>Crear Campaign Member Status BBEE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Campaign Member Status BBEE</label>
    <loops>
        <name>Loop_Status_List</name>
        <label>Loop_Status_List</label>
        <locationX>1104</locationX>
        <locationY>63</locationY>
        <collectionReference>Status_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Des_Validar_Status_Responded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CPMStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CPMStatus</name>
        <label>Create CPMStatus</label>
        <locationX>1278</locationX>
        <locationY>60</locationY>
        <inputReference>Var_Records_CPMStatus</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>289</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Validar_si_usuario_pertenece_a_un_perfil_BBEE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Status_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Convertido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Convertido</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Cursado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cursado</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Record_CPMStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Var_Records_CPMStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>var_Responded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Responded</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Sent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sent</stringValue>
        </value>
    </variables>
</Flow>
