CNSDEVCOLECT/force-app/main/default/flows/createTaskCAD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NewTaskCreated</name>
        <label>NewTaskCreated</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>EstadoTask</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TaskNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nueva tarea de Portabilidad Financiera</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>createTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignRecipientIds</name>
        <label>AssignRecipientIds</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetQueueName.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NotificationName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>cad_task_alerta_desktop</stringValue>
        </value>
    </constants>
    <constants>
        <name>pf_icon_error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/pf_icon_error&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>pf_icon_ok</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/pf_icon_ok&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Caso_PF_Coordinaci_n_Operacional</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PF_portabilidad_financiera_Tareas</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitar nuevo CAD</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsOppActive</name>
        <label>IsOppActive</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>EstadoOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotValidStage</defaultConnectorLabel>
        <rules>
            <name>IsValidStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityDetail.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Firma Contrato/Escritura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQueueName</targetReference>
            </connector>
            <label>IsValidStage</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 6</expression>
    </formulas>
    <interviewLabel>createTaskCAD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createTaskCAD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>NewTaskCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueueName.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PF_Nombre_Opp__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>GetNotificationType</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityDetail</name>
        <label>GetOpportunityDetail</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOppActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueName</name>
        <label>GetQueueName</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipientIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EstadoOpp</name>
        <label>EstadoOpp</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!pf_icon_error} No se puede solicitar CAD en una etapa distinta a &lt;/span&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Firma Contrato/Escritura&lt;/b&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EstadoTask</name>
        <label>EstadoTask</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_succes_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!pf_icon_ok} Se le ha creado correctamente la tarea &quot;&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Solicitar nuevo CAD&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot; a &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Coordinación Operacional&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityDetail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TaskNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Coordinación Operacional se ha asignado una tarea de Portabilidad Financiera
Asunto: {!SubjectName}
Fecha de vencimiento: {!DueDate}</text>
    </textTemplates>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
