CNSDEVCOLECT/force-app/main/default/flows/Cuentas_Informacion_Adicional.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Comuna.</description>
        <name>Obtener_Etiqueta_Campo_Comuna</name>
        <label>Obtener Etiqueta Campo Comuna</label>
        <locationX>359</locationX>
        <locationY>313</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Profesion</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Comuna_Nectia__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Comuna_Nectia__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaComuna</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Comuna.</description>
        <name>Obtener_Etiqueta_Campo_Comuna_Primer_Flujo_Lectura</name>
        <label>Obtener Etiqueta Campo Comuna Primer Flujo Lectura</label>
        <locationX>882</locationX>
        <locationY>560</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Profesion_Primer_Flujo_Lectura</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Comuna_Nectia__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Comuna_Nectia__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaComuna</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Comuna.</description>
        <name>Obtener_Etiqueta_Campo_Comuna_Segundo_Flujo</name>
        <label>Obtener Etiqueta Campo Comuna Segundo Flujo</label>
        <locationX>1039</locationX>
        <locationY>307</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Profesion_Segundo_Flujo</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Comuna_Nectia__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Comuna_Nectia__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaComuna</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Nacionalidad.</description>
        <name>Obtener_Etiqueta_Campo_Nacionalidad</name>
        <label>Obtener Etiqueta Campo Nacionalidad</label>
        <locationX>367</locationX>
        <locationY>551</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Plantilla_Comision</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Nacionalidad_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Nacionalidad_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaNacionalidad</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Nacionalidad.</description>
        <name>Obtener_Etiqueta_Campo_Nacionalidad_Primer_Flujo_Lectura</name>
        <label>Obtener Etiqueta Campo Nacionalidad Primer Flujo Lectura</label>
        <locationX>1273</locationX>
        <locationY>593</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Plantilla_Comision_Primer_Flujo_Lectura</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Nacionalidad_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Nacionalidad_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaNacionalidad</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Nacionalidad.</description>
        <name>Obtener_Etiqueta_Campo_Nacionalidad_Segundo_Flujo</name>
        <label>Obtener Etiqueta Campo Nacionalidad Segundo Flujo</label>
        <locationX>1343</locationX>
        <locationY>279</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Informacion_segundo_flujo</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Nacionalidad_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Nacionalidad_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaNacionalidad</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Plantilla Comisión.</description>
        <name>Obtener_Etiqueta_Campo_Plantilla_Comision</name>
        <label>Obtener Etiqueta Campo Plantilla Comision</label>
        <locationX>365</locationX>
        <locationY>692</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Informacion_Personal_Edicion</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Plantilla_de_Comision_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Plantilla_de_Comision_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaPlantillaComision</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Plantilla Comisión.</description>
        <name>Obtener_Etiqueta_Campo_Plantilla_Comision_Primer_Flujo_Lectura</name>
        <label>Obtener Etiqueta Campo Plantilla Comision Primer Flujo Lectura</label>
        <locationX>1143</locationX>
        <locationY>731</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Informacion_primer_flujo_lectura</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Plantilla_de_Comision_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Plantilla_de_Comision_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaPlantillaComision</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Profesión.</description>
        <name>Obtener_Etiqueta_Campo_Profesion</name>
        <label>Obtener Etiqueta Campo Profesion</label>
        <locationX>364</locationX>
        <locationY>431</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Nacionalidad</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Profesi_n_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Profesi_n_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaProfesion</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Profesión.</description>
        <name>Obtener_Etiqueta_Campo_Profesion_Primer_Flujo_Lectura</name>
        <label>Obtener Etiqueta Campo Profesion Primer Flujo Lectura</label>
        <locationX>1028</locationX>
        <locationY>578</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Nacionalidad_Primer_Flujo_Lectura</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Profesi_n_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Profesi_n_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaProfesion</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Profesión.</description>
        <name>Obtener_Etiqueta_Campo_Profesion_Segundo_Flujo</name>
        <label>Obtener Etiqueta Campo Profesion Segundo Flujo</label>
        <locationX>1340</locationX>
        <locationY>132</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Nacionalidad_Segundo_Flujo</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Profesi_n_Nectia__pc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Profesi_n_Nectia__pc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaProfesion</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Región.</description>
        <name>Obtener_Etiqueta_Campo_Region</name>
        <label>Obtener Etiqueta Campo Region</label>
        <locationX>362</locationX>
        <locationY>195</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Comuna</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Region_Nectia__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Region_Nectia__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaRegion</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Región.</description>
        <name>Obtener_Etiqueta_Campo_Region_Primer_Flujo_Lectura</name>
        <label>Obtener Etiqueta Campo Region Primer Flujo Lectura</label>
        <locationX>710</locationX>
        <locationY>560</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Comuna_Primer_Flujo_Lectura</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Region_Nectia__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Region_Nectia__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaRegion</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Acción Apex que obtiene etiqueta del valor asociado al campo Región.</description>
        <name>Obtener_Etiqueta_Campo_Region_Segundo_Flujo</name>
        <label>Obtener Etiqueta Campo Region Segundo Flujo</label>
        <locationX>932</locationX>
        <locationY>311</locationY>
        <actionName>labelPickListFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Etiqueta_Campo_Comuna_Segundo_Flujo</targetReference>
        </connector>
        <inputParameters>
            <name>fieldN</name>
            <value>
                <stringValue>Region_Nectia__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idsValue</name>
            <value>
                <elementReference>Cuentas.Region_Nectia__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObtenerEtiquetaRegion</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula AgenteActual.</description>
        <name>OpcionAgenteActual</name>
        <choiceText>{!AgenteActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AgenteActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula CodigoAgenteActual.</description>
        <name>OpcionCodigoAgenteActual</name>
        <choiceText>{!CodigoAgenteActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CodigoAgenteActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula ComunaActual.</description>
        <name>OpcionComunaActual</name>
        <choiceText>{!ComunaActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ComunaActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula EstadoActual.</description>
        <name>OpcionEstadoActual</name>
        <choiceText>{!EstadoActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EstadoActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula EstadoCivilActual.</description>
        <name>OpcionEstadoCivilActual</name>
        <choiceText>{!EstadoCivilActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EstadoCivilActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula GeneroActual.</description>
        <name>OpcionGeneroActual</name>
        <choiceText>{!GeneroActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GeneroActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula MercadoActual.</description>
        <name>OpcionMercadoActual</name>
        <choiceText>{!MercadoActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MercadoActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula NacionalidadActual.</description>
        <name>OpcionNacionalidadActual</name>
        <choiceText>{!NacionalidadActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NacionalidadActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula NivelEducacionalActual.</description>
        <name>OpcionNivelEducacionalActual</name>
        <choiceText>{!NivelEducacionalActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NivelEducacionalActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula PerfilInversionistaActual.</description>
        <name>OpcionPerfilInversionistaActual</name>
        <choiceText>{!PerfilInversionistaActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PerfilInversionistaActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula PlantillaComisionActual.</description>
        <name>OpcionPlantillaComisionActual</name>
        <choiceText>{!PlantillaComisionActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PlantillaComisionActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula ProfesionActual.</description>
        <name>OpcionProfesionActual</name>
        <choiceText>{!ProfesionActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ProfesionActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula RegimenConyugalActual.</description>
        <name>OpcionRegimenConyugalActual</name>
        <choiceText>{!RegimenConyugalActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RegimenConyugalActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula RegionActual.</description>
        <name>OpcionRegionActual</name>
        <choiceText>{!RegionActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RegionActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula SubEstadoActual.</description>
        <name>OpcionSubEstadoActual</name>
        <choiceText>{!SubEstadoActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SubEstadoActual</elementReference>
        </value>
    </choices>
    <choices>
        <description>Opción que contiene el valor seleccionado en el registro para mostrarlo en pantalla correspondiente. El valor proviene de fórmula TipoTrabajadorActual.</description>
        <name>OpcionTipoTrabajadorActual</name>
        <choiceText>{!TipoTrabajadorActual}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TipoTrabajadorActual</elementReference>
        </value>
    </choices>
    <decisions>
        <description>Componente de decisión que redirige a pantallas según Empresa del usuario y selección de opciones en campos Cliente Banco, Seguros o Corredora en registro de Cuenta.</description>
        <name>Definicion_de_flujos</name>
        <label>Definicion de flujos</label>
        <locationX>575</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Acceso_denegado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flujo error</defaultConnectorLabel>
        <rules>
            <name>Visualizacion_primer_flujo_edicion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerPerfil</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerPerfil</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region</targetReference>
            </connector>
            <label>Visualizacion primer flujo edicion</label>
        </rules>
        <rules>
            <name>Visualizacion_primer_flujo_servicios</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (1 AND 2 AND 3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Servicios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerPerfil</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerPerfil</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Primer_Flujo_Lectura</targetReference>
            </connector>
            <label>Visualizacion primer flujo servicios</label>
        </rules>
        <rules>
            <name>Visualizacion_primer_flujo_corredora</name>
            <conditionLogic>( 1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11) OR (1 AND 2 AND 12 AND 13 AND 14)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Corredora de Bolsa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Primer_Flujo_Lectura</targetReference>
            </connector>
            <label>Visualizacion primer flujo corredora</label>
        </rules>
        <rules>
            <name>Visualizacion_segundo_flujo_banco</name>
            <conditionLogic>( 1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11) OR (1 AND 2 AND 12 AND 13 AND 14)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Banco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Segundo_Flujo</targetReference>
            </connector>
            <label>Visualizacion segundo flujo banco</label>
        </rules>
        <rules>
            <name>Visualizacion_segundo_flujo_seguros</name>
            <conditionLogic>( 1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11) OR (1 AND 2 AND 12 AND 13 AND 14)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Seguros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Segundo_Flujo</targetReference>
            </connector>
            <label>Visualizacion segundo flujo seguros</label>
        </rules>
        <rules>
            <name>Visualizacion_tercer_flujo_banco</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Banco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acceso_denegado</targetReference>
            </connector>
            <label>Visualizacion tercer flujo banco</label>
        </rules>
        <rules>
            <name>Visualizacion_tercer_flujo_seguros</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Seguros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acceso_denegado</targetReference>
            </connector>
            <label>Visualizacion tercer flujo seguros</label>
        </rules>
        <rules>
            <name>Visualizacion_tercer_flujo_corredora</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Corredora de Bolsa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acceso_denegado</targetReference>
            </connector>
            <label>Visualizacion tercer flujo corredora</label>
        </rules>
        <rules>
            <name>Visualizacion_primer_flujo_banco_autoriza_datos</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11) OR (1 AND 2 AND 12 AND 13 AND 14) OR (1 AND 2 AND 15 AND 16 AND 17) OR (1 AND 2 AND 18 AND 19 AND 20) OR (1 AND 2 AND 21 AND 22 AND 23)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Banco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Primer_Flujo_Lectura</targetReference>
            </connector>
            <label>Visualizacion primer flujo banco autoriza datos</label>
        </rules>
        <rules>
            <name>Visualizacion_primer_flujo_seguros_autoriza_datos</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11) OR (1 AND 2 AND 12 AND 13 AND 14) OR (1 AND 2 AND 15 AND 16 AND 17) OR (1 AND 2 AND 18 AND 19 AND 20) OR (1 AND 2 AND 21 AND 22 AND 23)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Seguros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Primer_Flujo_Lectura</targetReference>
            </connector>
            <label>Visualizacion primer flujo seguros autoriza datos</label>
        </rules>
        <rules>
            <name>Visualizacion_primer_flujo_corredora_autoriza_datos</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 6 AND 7 AND 8) OR (1 AND 2 AND 9 AND 10 AND 11) OR (1 AND 2 AND 12 AND 13 AND 14) OR (1 AND 2 AND 15 AND 16 AND 17) OR (1 AND 2 AND 18 AND 19 AND 20) OR (1 AND 2 AND 21 AND 22 AND 23)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Corredora de Bolsa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Autoriza_uso_de_datos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Primer_Flujo_Lectura</targetReference>
            </connector>
            <label>Visualizacion primer flujo corredora autoriza datos</label>
        </rules>
        <rules>
            <name>Visualizacion_flujo_no_cliente</name>
            <conditionLogic>(1 AND 5 AND 6 AND 7) OR (2 AND 5 AND 6 AND 7) OR (3 AND 5 AND 6 AND 7) OR (4 AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Servicios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Corredora de Bolsa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Banco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consorcio Seguros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Banco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Seguros__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cuentas.Cliente_Corredora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Etiqueta_Campo_Region_Primer_Flujo_Lectura</targetReference>
            </connector>
            <label>Visualización flujo no cliente</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Agente&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Agentes</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000Faoe7</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Agente_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Agente_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Código Agente&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>CodigosAgente</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaoeE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Codigo_de_Agente_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Codigo_de_Agente_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Comuna&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Comunas</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000PYOHz</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Comuna_Nectia__c</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Comuna_Nectia__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Estado&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Estados</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000Faodz</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Estado_Nectia__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Estado_Nectia__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Estado Civil&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>EstadosCiviles</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaoeG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Estado_Civil_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Estado_Civil_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Género&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Generos</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaoeK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Genero_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Genero_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Mercado&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Mercados</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000Faoe3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Mercado_Nectia__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Mercado_Nectia__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Nacionalidad&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Nacionalidades</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaqKr</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Nacionalidad_Nectia__pc</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Nacionalidad_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Nivel Educacional&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>NivelesEducacionales</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000PoT1H</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Nivel_Educacional_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Nivel_Educacional_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Perfil Inversionista&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>PerfilesInversionistas</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaqDv</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Perfil_Inversionista_Nectia__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Perfil_Inversionista_Nectia__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Plantilla Comisión&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>PlantillasComision</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaqLw</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Plantilla_de_Comision_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Plantilla_de_Comision_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Profesión&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Profesiones</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaqLx</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Profesi_n_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Profesi_n_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Régimen Conyugal&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>RegimenesConyugales</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaqKw</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.R_gimen_conyugal_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.R_gimen_conyugal_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Región&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>Regiones</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000PYOI3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Region_Nectia__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Region_Nectia__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Sub estado&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>SubEstados</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000FaqEK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Sub_estado_Nectia__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Sub_estado_Nectia__c</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de opciones de registro que obtiene los valores del campo de tipo lista de selección &quot;Tipo trabajador&quot;, almacenándolo en variable de registro &quot;Cuentas&quot;.</description>
        <name>TiposTrabajador</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account.00N1N00000PoT1S</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Cuentas.Tipo_trabajador_Nectia__pc</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Cuentas.Tipo_trabajador_Nectia__pc</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Agente&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>AgenteActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Agente_Nectia__pc})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Agente_Nectia__pc}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Código de Agente&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>CodigoAgenteActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Codigo_de_Agente_Nectia__pc})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Codigo_de_Agente_Nectia__pc}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Comuna&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>ComunaActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Comuna_Nectia__c})), &apos;--Ninguno--&apos;, {!ObtenerEtiquetaComuna})</expression>
    </formulas>
    <formulas>
        <description>Fórmula que permite obtener la empresa asociada a cada usuario para validación de decisiones en flujo.</description>
        <name>EmpresaUsuario</name>
        <dataType>String</dataType>
        <expression>{!$User.CompanyName}</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Estado&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>EstadoActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Estado_Nectia__c})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Estado_Nectia__c}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Estado Civil&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>EstadoCivilActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Estado_Civil_Nectia__pc})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Estado_Civil_Nectia__pc}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Género&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>GeneroActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Genero_Nectia__pc})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Genero_Nectia__pc}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Mercado&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>MercadoActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Mercado_Nectia__c})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Mercado_Nectia__c}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Nacionalidad&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>NacionalidadActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Nacionalidad_Nectia__pc})), &apos;--Ninguno--&apos;, {!ObtenerEtiquetaNacionalidad})</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Nivel Educacional&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>NivelEducacionalActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Nivel_Educacional_Nectia__pc})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Nivel_Educacional_Nectia__pc}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que obtiene valor de campo NCG 380, si está marcada la casilla es &apos;Si&apos;, caso contrario, &apos;No&apos;.</description>
        <name>ObtenerNCG380</name>
        <dataType>String</dataType>
        <expression>IF({!Cuentas.NCG_380_Nectia__pc} = true, &apos;Si&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <description>Fórmula que permite obtener el perfil asociado a cada usuario para validación de decisiones en flujo.</description>
        <name>ObtenerPerfil</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <description>Fórmula que obtiene valor de campo Simultáneas, si está marcada la casilla es &apos;Si&apos;, caso contrario, &apos;No&apos;.</description>
        <name>ObtenerSimultanea</name>
        <dataType>String</dataType>
        <expression>IF({!Cuentas.Simult_neas_Nectia__pc} = true, &apos;Si&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Perfil Inversionista&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>PerfilInversionistaActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Perfil_Inversionista_Nectia__c})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Perfil_Inversionista_Nectia__c}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Plantilla de Comisión&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>PlantillaComisionActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Plantilla_de_Comision_Nectia__pc})), &apos;--Ninguno--&apos;, {!ObtenerEtiquetaPlantillaComision})</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Profesión Actual&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>ProfesionActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Profesi_n_Nectia__pc})), &apos;--Ninguno--&apos;, {!ObtenerEtiquetaProfesion})</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Régimen Conyugal&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>RegimenConyugalActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.R_gimen_conyugal_Nectia__pc})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.R_gimen_conyugal_Nectia__pc}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Región&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>RegionActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Region_Nectia__c})), &apos;--Ninguno--&apos;, {!ObtenerEtiquetaRegion})</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Sub estado&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>SubEstadoActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Sub_estado_Nectia__c})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Sub_estado_Nectia__c}))</expression>
    </formulas>
    <formulas>
        <description>Fórmula que realiza validación de valor vacío del campo &quot;Tipo trabajador&quot;, llenándolo con opción &quot;--Ninguno--&quot;, caso contrario, obtiene el valor seleccionado.</description>
        <name>TipoTrabajadorActual</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Cuentas.Tipo_trabajador_Nectia__pc})), &apos;--Ninguno--&apos;, TEXT({!Cuentas.Tipo_trabajador_Nectia__pc}))</expression>
    </formulas>
    <interviewLabel>Cuentas - Informacion Adicional {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cuentas - Informacion Adicional</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Proceso que obtiene cuentas por medio de variable tipo registro Cuentas.</description>
        <name>Obtener_Cuenta</name>
        <label>Obtener Cuenta</label>
        <locationX>521</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Definicion_de_flujos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Informacion_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Cuentas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Numero_Nectia__c</queriedFields>
        <queriedFields>PersonOtherPhone</queriedFields>
        <queriedFields>Numero_de_piso_Nectia__c</queriedFields>
        <queriedFields>Tel_fono_Banco__c</queriedFields>
        <queriedFields>Numero_departamento_Nectia__c</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Region_Nectia__c</queriedFields>
        <queriedFields>NuevoCorreo__c</queriedFields>
        <queriedFields>Villa_Nectia__c</queriedFields>
        <queriedFields>Calle_Nectia__c</queriedFields>
        <queriedFields>Comuna_Nectia__c</queriedFields>
        <queriedFields>Nacionalidad_Nectia__pc</queriedFields>
        <queriedFields>Nivel_Educacional_Nectia__pc</queriedFields>
        <queriedFields>Genero_Nectia__pc</queriedFields>
        <queriedFields>Fecha_defunci_n_Nectia__pc</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>Cantidad_Hijos_Nectia__pc</queriedFields>
        <queriedFields>Edad_Nectia__pc</queriedFields>
        <queriedFields>Tipo_trabajador_Nectia__pc</queriedFields>
        <queriedFields>Estado_Civil_Nectia__pc</queriedFields>
        <queriedFields>R_gimen_conyugal_Nectia__pc</queriedFields>
        <queriedFields>Profesi_n_Nectia__pc</queriedFields>
        <queriedFields>cargo__pc</queriedFields>
        <queriedFields>Mercado_Nectia__c</queriedFields>
        <queriedFields>Raz_n_Social_Empleador_Nectia__pc</queriedFields>
        <queriedFields>Estado_Nectia__c</queriedFields>
        <queriedFields>Simult_neas_Nectia__pc</queriedFields>
        <queriedFields>Sub_estado_Nectia__c</queriedFields>
        <queriedFields>NCG_380_Nectia__pc</queriedFields>
        <queriedFields>Fecha_de_Incorporacion_Nectia__c</queriedFields>
        <queriedFields>ID_Nectia__c</queriedFields>
        <queriedFields>Codigo_de_Agente_Nectia__pc</queriedFields>
        <queriedFields>Agente_Nectia__pc</queriedFields>
        <queriedFields>Plantilla_de_Comision_Nectia__pc</queriedFields>
        <queriedFields>Perfil_Inversionista_Nectia__c</queriedFields>
        <queriedFields>Cliente_Banco__c</queriedFields>
        <queriedFields>Cliente_Corredora__c</queriedFields>
        <queriedFields>Cliente_Seguros__c</queriedFields>
        <queriedFields>Autoriza_uso_de_datos__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Correo_electr_nico_Banco__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Componente que actualiza los datos de Cuenta por parte del perfil Administrador del sistema, basados en la pantalla Información primer flujo edición.</description>
        <name>Actualizar_Cuenta</name>
        <label>Actualizar Cuenta</label>
        <locationX>141</locationX>
        <locationY>448</locationY>
        <faultConnector>
            <targetReference>Informacion_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agente_Nectia__pc</field>
            <value>
                <elementReference>agente_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calle_Nectia__c</field>
            <value>
                <elementReference>calle_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad_Hijos_Nectia__pc</field>
            <value>
                <elementReference>cantidad_hijos_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_de_Agente_Nectia__pc</field>
            <value>
                <elementReference>codigo_agente_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comuna_Nectia__c</field>
            <value>
                <elementReference>comuna_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correo_electr_nico_Banco__c</field>
            <value>
                <elementReference>correo_electronico_banco_primer_flujo_edicion.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Civil_Nectia__pc</field>
            <value>
                <elementReference>estado_civil_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Nectia__c</field>
            <value>
                <elementReference>estado_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Incorporacion_Nectia__c</field>
            <value>
                <elementReference>fecha_incorporacion_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_defunci_n_Nectia__pc</field>
            <value>
                <elementReference>fecha_defuncion_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genero_Nectia__pc</field>
            <value>
                <elementReference>genero_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Nectia__c</field>
            <value>
                <elementReference>id_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado_Nectia__c</field>
            <value>
                <elementReference>mercado_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCG_380_Nectia__pc</field>
            <value>
                <elementReference>ncg_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nacionalidad_Nectia__pc</field>
            <value>
                <elementReference>nacionalidad_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nivel_Educacional_Nectia__pc</field>
            <value>
                <elementReference>nivel_educacional_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NuevoCorreo__c</field>
            <value>
                <elementReference>nuevo_correo_primer_flujo_edicion.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Nectia__c</field>
            <value>
                <elementReference>numero_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_piso_Nectia__c</field>
            <value>
                <elementReference>numero_piso_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_departamento_Nectia__c</field>
            <value>
                <elementReference>numero_departamento_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Perfil_Inversionista_Nectia__c</field>
            <value>
                <elementReference>perfil_inversionista_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>fecha_nacimiento_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>correo_electronico_primer_flujo_edicion.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherPhone</field>
            <value>
                <elementReference>otro_telefono_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>telefono_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plantilla_de_Comision_Nectia__pc</field>
            <value>
                <elementReference>plantilla_comision_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profesi_n_Nectia__pc</field>
            <value>
                <elementReference>profesion_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>R_gimen_conyugal_Nectia__pc</field>
            <value>
                <elementReference>regimen_conyugal_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raz_n_Social_Empleador_Nectia__pc</field>
            <value>
                <elementReference>razon_social_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Nectia__c</field>
            <value>
                <elementReference>region_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Simult_neas_Nectia__pc</field>
            <value>
                <elementReference>simultaneas_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_estado_Nectia__c</field>
            <value>
                <elementReference>sub_estado_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_fono_Banco__c</field>
            <value>
                <elementReference>telefono_banco_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_trabajador_Nectia__pc</field>
            <value>
                <elementReference>tipo_trabajador_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Villa_Nectia__c</field>
            <value>
                <elementReference>villa_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cargo__pc</field>
            <value>
                <elementReference>cargo_primer_flujo_edicion</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Pantalla que bloquea visualización de datos de pestaña &quot;Detalles Adicionales&quot;.</description>
        <name>Acceso_denegado</name>
        <label>Acceso denegado</label>
        <locationX>925</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mensaje_acceso_denegado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Acceso denegado&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No tienes permisos de usuario para ver la información.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla que captura los errores que pueden surgir en la ejecución del Flujo, como en la obtención o actualización de datos de la cuenta.</description>
        <name>Informacion_Error</name>
        <label>Informacion Error</label>
        <locationX>138</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mensaje_error_detalles_adicionales</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Error&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ha ocurrido un error en la ejecución del componente, contáctese con el administrador.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla que permite actualizar los datos de pestaña &quot;Detalles Adicionales&quot; de la Cuenta, diseñada para perfil Administrador del sistema.</description>
        <name>Informacion_Personal_Edicion</name>
        <label>Información primer flujo edicion</label>
        <locationX>257</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizar_Cuenta</targetReference>
        </connector>
        <fields>
            <name>primer_titulo_flujo_uno_edicion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos de Contacto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>telefono_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Phone</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>numero_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Numero_Nectia__c</elementReference>
            </defaultValue>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>otro_telefono_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.PersonOtherPhone</elementReference>
            </defaultValue>
            <fieldText>Otro Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>numero_piso_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Numero_de_piso_Nectia__c</elementReference>
            </defaultValue>
            <fieldText>Número de piso</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>telefono_banco_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Tel_fono_Banco__c</elementReference>
            </defaultValue>
            <fieldText>Teléfono Banco</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>numero_departamento_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Numero_departamento_Nectia__c</elementReference>
            </defaultValue>
            <fieldText>Número departamento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>correo_electronico_primer_flujo_edicion</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Correo electrónico</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Cuentas.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>correo_electronico_banco_primer_flujo_edicion</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Correo electrónico Banco</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Cuentas.Correo_electr_nico_Banco__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>region_primer_flujo_edicion</name>
            <choiceReferences>Regiones</choiceReferences>
            <choiceReferences>OpcionRegionActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionRegionActual</defaultSelectedChoiceReference>
            <fieldText>Región</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>nuevo_correo_primer_flujo_edicion</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nuevo Correo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Cuentas.NuevoCorreo__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>villa_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Villa_Nectia__c</elementReference>
            </defaultValue>
            <fieldText>Villa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>calle_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Calle_Nectia__c</elementReference>
            </defaultValue>
            <fieldText>Calle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>comuna_primer_flujo_edicion</name>
            <choiceReferences>Comunas</choiceReferences>
            <choiceReferences>OpcionComunaActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionComunaActual</defaultSelectedChoiceReference>
            <fieldText>Comuna</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>segundo_titulo_primer_flujo_edicion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos Personales&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nacionalidad_primer_flujo_edicion</name>
            <choiceReferences>Nacionalidades</choiceReferences>
            <choiceReferences>OpcionNacionalidadActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionNacionalidadActual</defaultSelectedChoiceReference>
            <fieldText>Nacionalidad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>nivel_educacional_primer_flujo_edicion</name>
            <choiceReferences>NivelesEducacionales</choiceReferences>
            <choiceReferences>OpcionNivelEducacionalActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionNivelEducacionalActual</defaultSelectedChoiceReference>
            <fieldText>Nivel Educacional</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>genero_primer_flujo_edicion</name>
            <choiceReferences>Generos</choiceReferences>
            <choiceReferences>OpcionGeneroActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionGeneroActual</defaultSelectedChoiceReference>
            <fieldText>Género</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fecha_defuncion_primer_flujo_edicion</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Cuentas.Fecha_defunci_n_Nectia__pc</elementReference>
            </defaultValue>
            <fieldText>Fecha de defunción</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fecha_nacimiento_primer_flujo_edicion</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Cuentas.PersonBirthdate</elementReference>
            </defaultValue>
            <fieldText>Fecha de nacimiento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cantidad_hijos_primer_flujo_edicion</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Cuentas.Cantidad_Hijos_Nectia__pc</elementReference>
            </defaultValue>
            <fieldText>Cantidad Hijos</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>edad_primer_flujo_edicion</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Cuentas.Edad_Nectia__pc</elementReference>
            </defaultValue>
            <fieldText>Edad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>tipo_trabajador_primer_flujo_edicion</name>
            <choiceReferences>TiposTrabajador</choiceReferences>
            <choiceReferences>OpcionTipoTrabajadorActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionTipoTrabajadorActual</defaultSelectedChoiceReference>
            <fieldText>Tipo trabajador</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>estado_civil_primer_flujo_edicion</name>
            <choiceReferences>EstadosCiviles</choiceReferences>
            <choiceReferences>OpcionEstadoCivilActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionEstadoCivilActual</defaultSelectedChoiceReference>
            <fieldText>Estado Civil</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>regimen_conyugal_primer_flujo_edicion</name>
            <choiceReferences>RegimenesConyugales</choiceReferences>
            <choiceReferences>OpcionRegimenConyugalActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionRegimenConyugalActual</defaultSelectedChoiceReference>
            <fieldText>Régimen Conyugal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>tercer_titulo_primer_flujo_edicion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos Comerciales&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>profesion_primer_flujo_edicion</name>
            <choiceReferences>Profesiones</choiceReferences>
            <choiceReferences>OpcionProfesionActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionProfesionActual</defaultSelectedChoiceReference>
            <fieldText>Profesión</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cargo_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.cargo__pc</elementReference>
            </defaultValue>
            <fieldText>Cargo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>mercado_primer_flujo_edicion</name>
            <choiceReferences>Mercados</choiceReferences>
            <choiceReferences>OpcionMercadoActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionMercadoActual</defaultSelectedChoiceReference>
            <fieldText>Mercado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>razon_social_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.Raz_n_Social_Empleador_Nectia__pc</elementReference>
            </defaultValue>
            <fieldText>Razón Social Empleador</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cuarto_titulo_primer_flujo_edicion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Detalle CCB&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>estado_primer_flujo_edicion</name>
            <choiceReferences>Estados</choiceReferences>
            <choiceReferences>OpcionEstadoActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionEstadoActual</defaultSelectedChoiceReference>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>simultaneas_primer_flujo_edicion</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Cuentas.Simult_neas_Nectia__pc</elementReference>
            </defaultValue>
            <fieldText>Simultáneas</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sub_estado_primer_flujo_edicion</name>
            <choiceReferences>SubEstados</choiceReferences>
            <choiceReferences>OpcionSubEstadoActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionSubEstadoActual</defaultSelectedChoiceReference>
            <fieldText>Sub estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ncg_primer_flujo_edicion</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Cuentas.NCG_380_Nectia__pc</elementReference>
            </defaultValue>
            <fieldText>NCG 380</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fecha_incorporacion_primer_flujo_edicion</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Cuentas.Fecha_de_Incorporacion_Nectia__c</elementReference>
            </defaultValue>
            <fieldText>Fecha de Incorporación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>id_primer_flujo_edicion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Cuentas.ID_Nectia__c</elementReference>
            </defaultValue>
            <fieldText>ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>codigo_agente_primer_flujo_edicion</name>
            <choiceReferences>CodigosAgente</choiceReferences>
            <choiceReferences>OpcionCodigoAgenteActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionCodigoAgenteActual</defaultSelectedChoiceReference>
            <fieldText>Código de Agente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>agente_primer_flujo_edicion</name>
            <choiceReferences>Agentes</choiceReferences>
            <choiceReferences>OpcionAgenteActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionAgenteActual</defaultSelectedChoiceReference>
            <fieldText>Agente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>plantilla_comision_primer_flujo_edicion</name>
            <choiceReferences>PlantillasComision</choiceReferences>
            <choiceReferences>OpcionPlantillaComisionActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionPlantillaComisionActual</defaultSelectedChoiceReference>
            <fieldText>Plantilla de Comisión</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>perfil_inversionista_primer_flujo_edicion</name>
            <choiceReferences>PerfilesInversionistas</choiceReferences>
            <choiceReferences>OpcionPerfilInversionistaActual</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OpcionPerfilInversionistaActual</defaultSelectedChoiceReference>
            <fieldText>Perfil Inversionista</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla que contiene secciones Datos de Contacto, Datos Personales, Datos Comerciales y Detalle CCB en pestaña &quot;Detalles Adicionales&quot; para la visualización por parte de usuarios.</description>
        <name>Informacion_primer_flujo_lectura</name>
        <label>Información primer flujo lectura</label>
        <locationX>817</locationX>
        <locationY>731</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>primer_titulo_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos de Contacto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>telefono_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Teléfono&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numero_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Número&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Numero_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>otro_telefono_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Otro Teléfono&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.PersonOtherPhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numero_piso_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Número de piso&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Numero_de_piso_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>telefono_banco_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Teléfono Banco&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Tel_fono_Banco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numero_departamento_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Número departamento&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Numero_departamento_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>correo_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Correo electrónico&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.PersonEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>correo_electronico_banco_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Correo electrónico Banco&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Correo_electr_nico_Banco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>region_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Región&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!RegionActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nuevo_correo_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nuevo Correo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.NuevoCorreo__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>villa_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Villa&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Villa_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>calle_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Calle&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Calle_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>comuna_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Comuna&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ComunaActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_dos_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>segundo_titulo_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos Personales&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_tres_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 32, 32);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nacionalidad_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nacionalidad&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!NacionalidadActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nivel_educacional_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nivel Educacional&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Nivel_Educacional_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>genero_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Género&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Genero_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fecha_defuncion_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fecha de defunción&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Fecha_defunci_n_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fecha_nacimiento_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fecha de nacimiento&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cantidad_hijos_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cantidad Hijos&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Cantidad_Hijos_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>edad_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Edad&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Edad_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tipo_trabajador_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Tipo trabajador&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Tipo_trabajador_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>estado_civil_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Estado Civil&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Estado_Civil_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>regimen_conyugal_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Régimen Conyugal&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.R_gimen_conyugal_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tercer_titulo_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos Comerciales&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_cuatro_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>profesion_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Profesión&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ProfesionActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cargo_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cargo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.cargo__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mercado_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Mercado&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Mercado_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>razon_social_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Razón Social Empleador&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Raz_n_Social_Empleador_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cuarto_titulo_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Detalle CCB&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_seis_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>estado_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Estado&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Estado_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>simultaneas_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Simultáneas&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ObtenerSimultanea}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sub_estado_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sub estado&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Sub_estado_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ncg_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;NCG 380&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ObtenerNCG380}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fecha_incorporacion_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fecha de Incorporación&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Fecha_de_Incorporacion_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>id_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ID&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.ID_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>codigo_agente_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Código de Agente&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Codigo_de_Agente_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>agente_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Agente&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Agente_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>plantilla_comision_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Plantilla de Comisión&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!PlantillaComisionActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>perfil_inversionista_primer_flujo_lectura</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Perfil Inversionista&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Perfil_Inversionista_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla que contiene secciones Datos de Contacto, Datos Personales y Datos Comerciales en pestaña &quot;Detalles Adicionales&quot; para la visualización por parte de usuarios.</description>
        <name>Informacion_segundo_flujo</name>
        <label>Información segundo flujo</label>
        <locationX>1203</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>primer_titulo_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos de Contacto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 254, 254);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>telefono_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Teléfono&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numero_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Número&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Numero_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>otro_telefono_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Otro Teléfono&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.PersonOtherPhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numero_piso_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Número de piso&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Numero_de_piso_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>telefono_banco_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Teléfono Banco&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Tel_fono_Banco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numero_departamento_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Número departamento&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Numero_departamento_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>correo_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Correo electrónico&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.PersonEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>correo_electronico_banco_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Correo electrónico Banco&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Correo_electr_nico_Banco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>region_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Región&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!RegionActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nuevo_correo_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nuevo Correo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.NuevoCorreo__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>villa_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Villa&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Villa_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>calle_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Calle&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Calle_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>comuna_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Comuna&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ComunaActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_dos_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>segundo_titulo_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos Personales&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_tres_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 254, 254);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nacionalidad_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nacionalidad&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!NacionalidadActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nivel_educacional_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nivel Educacional&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Nivel_Educacional_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>genero_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Género&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Genero_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fecha_defuncion_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fecha de defunción&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Fecha_defunci_n_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fecha_nacimiento_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Fecha de nacimiento&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cantidad_hijos_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cantidad Hijos&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Cantidad_Hijos_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>edad_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Edad&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Edad_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tipo_trabajador_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Tipo trabajador&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Tipo_trabajador_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>estado_civil_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Estado Civil&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Estado_Civil_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>regimen_conyugal_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Régimen Conyugal&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.R_gimen_conyugal_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tercer_titulo_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Datos Comerciales&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>separador_cuatro_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>profesion_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Profesión&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ProfesionActual}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cargo_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cargo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.cargo__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mercado_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Mercado&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Mercado_Nectia__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>razon_social_segundo_flujo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Razón Social Empleador&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Cuentas.Raz_n_Social_Empleador_Nectia__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Obtener_Cuenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Tipo de variable de registro que almacena los datos de Cuentas.</description>
        <name>Cuentas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Variable tipo texto que almacena etiqueta de valor del campo Comuna proveniente de Acción Apex.</description>
        <name>ObtenerEtiquetaComuna</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable tipo texto que almacena etiqueta de valor del campo Nacionalidad proveniente de Acción Apex.</description>
        <name>ObtenerEtiquetaNacionalidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable tipo texto que almacena etiqueta de valor del campo Plantilla Comisión proveniente de Acción Apex.</description>
        <name>ObtenerEtiquetaPlantillaComision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable tipo texto que almacena etiqueta de valor del campo Profesión proveniente de Acción Apex.</description>
        <name>ObtenerEtiquetaProfesion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable tipo texto que almacena etiqueta de valor del campo Región proveniente de Acción Apex.</description>
        <name>ObtenerEtiquetaRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable tipo texto que almacena ID de la cuenta que gestionará el flujo.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
