CNSDEVCOLECT/force-app/main/default/flows/Ejecutivo_referidor_caso_corporativo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Registro_casos_corporativos</name>
        <label>Registro casos corporativos</label>
        <locationX>196</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filtro_casos_corporativos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caso_PF_Caso_de_Portabilidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Caso_PF_Rut_ejecutivo_referidor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_usuario</targetReference>
            </connector>
            <label>Filtro casos corporativos</label>
        </rules>
    </decisions>
    <formulas>
        <name>ejecutivo_referidor</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Ejecutivo referidor caso corporativo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ejecutivo referidor caso portabilidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_usuario</name>
        <label>Obtener usuario</label>
        <locationX>200</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Caso_Corporativo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RUT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rut_Corregido__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>id_ejecutivo_referidor</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rut_ejecutivo_referidor</assignToReference>
            <field>RUT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cargo_usuario</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Caso_Corporativo</name>
        <label>Actualizar Caso Corporativo</label>
        <locationX>383</locationX>
        <locationY>413</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cargo__c</field>
            <value>
                <elementReference>Cargo_usuario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Ejecutivo_Referidor__c</field>
            <value>
                <elementReference>id_ejecutivo_referidor</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Registro_casos_corporativos</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cargo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Cargo_usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_ejecutivo_referidor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rut_ejecutivo_referidor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zonales_PF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
