CNSDEVCOLECT/force-app/main/default/flows/modificacion_productos_PF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>ass_pick_aceptacionoferta_change</name>
        <label>ass_pick_aceptacionoferta_change</label>
        <locationX>657</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>var_pick_aceptacionoferta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pick_in_Aceptacion_de_Oferta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_estado_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_pick_estado_change</name>
        <label>ass_pick_estado_change</label>
        <locationX>644</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>var_pick_estado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pick_in_estado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upd_Producto_Consumo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_pick_estadoevaluacion_change</name>
        <label>ass_pick_estadoevaluacion change</label>
        <locationX>638</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>var_pick_estadoevaluacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pick_in_Estado_de_Evaluacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Aceptacion_Oferta_Change</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>testchoice</name>
        <choiceText>Seleccione nuevo valor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <constants>
        <name>cons_Credito_Consumo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Crédito de Consumo</stringValue>
        </value>
    </constants>
    <constants>
        <name>cons_Credito_Hipotecario</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Crédito Hipotecario</stringValue>
        </value>
    </constants>
    <constants>
        <name>cons_Plan_Plus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Plan Plus</stringValue>
        </value>
    </constants>
    <constants>
        <name>img_error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/pf_icon_error&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>img_ok</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/pf_icon_ok&apos; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Dec_Tipodeproducto</name>
        <label>Dec_Tipodeproducto</label>
        <locationX>609</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>sc_error_producto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Producto_Portabilidad</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cons_Credito_Consumo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cons_Credito_Hipotecario</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cons_Plan_Plus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Producto_Consumo</targetReference>
            </connector>
            <label>Is Producto Portabilidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Aceptacion_Oferta_Change</name>
        <label>Is_Aceptacion_Oferta_Change</label>
        <locationX>395</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>is_estado_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Aceptacion_Oferta_Change_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_in_Aceptacion_de_Oferta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick_in_Aceptacion_de_Oferta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Product_Detail.Aceptacion_de_Oferta__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_pick_aceptacionoferta_change</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_estado_change</name>
        <label>is_estado_change</label>
        <locationX>394</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Upd_Producto_Consumo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>estado_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_in_estado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick_in_estado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Product_Detail.Estado_Formalizacion_Curse__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_pick_estado_change</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Estado_Evaluacion_Change</name>
        <label>Is Estado Evaluacion Change</label>
        <locationX>397</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Is_Aceptacion_Oferta_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Estado_Evaluacion_Change_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_in_Estado_de_Evaluacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick_in_Estado_de_Evaluacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Product_Detail.Estado_de_Evaluacion__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_pick_estadoevaluacion_change</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pick_Aceptacion_Oferta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Aceptacion_de_Oferta__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pick_Estado</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estado_Formalizacion_Curse__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pick_Estado_Evaluacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estado_de_Evaluacion__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Modificar productos de la oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modificar productos de la oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Product_Detail</name>
        <label>Get Product Detail</label>
        <locationX>609</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_Tipodeproducto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd_Producto_Consumo</name>
        <label>Upd_Producto_Consumo</label>
        <locationX>401</locationX>
        <locationY>1280</locationY>
        <faultConnector>
            <targetReference>head_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Detail.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aceptacion_de_Oferta__c</field>
            <value>
                <elementReference>var_pick_aceptacionoferta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Formalizacion_Curse__c</field>
            <value>
                <elementReference>var_pick_estado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_Evaluacion__c</field>
            <value>
                <elementReference>var_pick_estadoevaluacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gestor__c</field>
            <value>
                <elementReference>Gestor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Op_Comercializadora_sales__c</field>
            <value>
                <elementReference>txt_in_Numero_Oportunidad_Comercializadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>txt_in_Fecha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>numero_oportunidad_pch_sales__c</field>
            <value>
                <elementReference>txt_in_Numero_Oportunidad_PCH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>numero_solicitud_sales__c</field>
            <value>
                <elementReference>txt_in_Numero_Solicitud</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>head_error</name>
        <label>Error</label>
        <locationX>644</locationX>
        <locationY>1286</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_error</name>
            <fieldText>&lt;p&gt;{!img_error} Error al actualizar el producto de la oportunidad. Contacte al administrador.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Detalle del error&lt;/u&gt;:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_error_producto</name>
        <label>Error Producto</label>
        <locationX>807</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_error</name>
            <fieldText>&lt;p&gt;{!img_error} Producto no corresponde a portabilidad financiera&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Producto_Consumo</name>
        <label>Producto de Consumo</label>
        <locationX>410</locationX>
        <locationY>431</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Estado_Evaluacion_Change</targetReference>
        </connector>
        <fields>
            <name>txt_dis_Oportunidad</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Producto de Oportunidad&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102);&quot;&gt;{!Get_Product_Detail.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_in_Numero_Solicitud</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Product_Detail.numero_solicitud_sales__c</elementReference>
            </defaultValue>
            <fieldText>Número Solicitud</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cons_Credito_Consumo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_in_Numero_Oportunidad_Comercializadora</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Product_Detail.Numero_Op_Comercializadora_sales__c</elementReference>
            </defaultValue>
            <fieldText>Número Oportunidad Comercializadora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cons_Plan_Plus</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_in_Numero_Oportunidad_PCH</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Product_Detail.numero_oportunidad_pch_sales__c</elementReference>
            </defaultValue>
            <fieldText>Número Oportunidad PCH</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cons_Credito_Hipotecario</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_in_Fecha</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Product_Detail.ServiceDate</elementReference>
            </defaultValue>
            <fieldText>Fecha</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txt_dis_EstadoEvaluacion_CC</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Estado de Evaluación: &lt;/span&gt;&lt;b style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Product_Detail.Estado_de_Evaluacion__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_in_Estado_de_Evaluacion</name>
            <choiceReferences>testchoice</choiceReferences>
            <choiceReferences>pick_Estado_Evaluacion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado de Evaluación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt_dis_AceptacionOferta_CC</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Oferta aceptada&lt;span style=&quot;font-size: 12px;&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Product_Detail.Aceptacion_de_Oferta__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_in_Aceptacion_de_Oferta</name>
            <choiceReferences>testchoice</choiceReferences>
            <choiceReferences>pick_Aceptacion_Oferta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Oferta aceptada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estado_Value</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Etapa de Form. y Curse&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;: &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!Get_Product_Detail.Estado_Formalizacion_Curse__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cons_Credito_Consumo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pick_in_estado</name>
            <choiceReferences>testchoice</choiceReferences>
            <choiceReferences>pick_Estado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Etapa de Form. y Curse</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cons_Credito_Consumo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Gestor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Gestor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Gestor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Product_Detail.Gestor__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Product_Detail.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cons_Credito_Consumo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Product_Detail.Gestor__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>null</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>483</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Product_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_gestorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Product_Detail.Gestor__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_pick_aceptacionoferta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Product_Detail.Aceptacion_de_Oferta__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_pick_estado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Product_Detail.Estado_Formalizacion_Curse__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_pick_estadoevaluacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Product_Detail.Estado_de_Evaluacion__c</elementReference>
        </value>
    </variables>
</Flow>
