CNSDEVCOLECT/force-app/main/default/flows/Nuevo_Producto_PF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>As_OpptyProducts</name>
        <label>As_OpptyProducts</label>
        <locationX>1011</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>var_ProductnameLst</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProductnameLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OpptyProducts.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProductnameLst</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OpptyProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>As_vartextProd</name>
        <label>As_vartextProd</label>
        <locationX>571</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>var_ProductnameLst</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Oportunidad sin Productos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductoOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quitar_productos_de_variables</name>
        <label>Quitar productos de variables</label>
        <locationX>699</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>var_ProductnameLst</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductsFromOpportunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>pf_icon_error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/pf_icon_error&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>pf_icon_ok</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/pf_icon_ok&apos; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Crear_nuevo_producto</name>
        <label>Crear nuevo producto</label>
        <locationX>509</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nuevo_producto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crear_nuevo_producto_al_finalizar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quitar_productos_de_variables</targetReference>
            </connector>
            <label>Nuevo producto</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasProducts</name>
        <label>HasProducts</label>
        <locationX>747</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Loop_OpptyProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiene Productos</defaultConnectorLabel>
        <rules>
            <name>No_Tiene_Productos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductsFromOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>As_vartextProd</targetReference>
            </connector>
            <label>No Tiene Productos</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOppActive</name>
        <label>IsOppActive</label>
        <locationX>911</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>lblEstadoOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotValidStage</defaultConnectorLabel>
        <rules>
            <name>IsValidStage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Detail.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Detail.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simulación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductsFromOpportunity</targetReference>
            </connector>
            <label>IsValidStage</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rad_productos_Records</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plan Plus</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crédito Hipotecario</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crédito de Consumo</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>var_ProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Nuevo Producto PF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuevo Producto PF</label>
    <loops>
        <name>Loop_OpptyProducts</name>
        <label>Loop_OpptyProducts</label>
        <locationX>923</locationX>
        <locationY>846</locationY>
        <collectionReference>GetProductsFromOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>As_OpptyProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProductoOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_OppProduct</name>
        <label>create_OppProduct</label>
        <locationX>342</locationX>
        <locationY>1063</locationY>
        <connector>
            <targetReference>exito</targetReference>
        </connector>
        <faultConnector>
            <targetReference>txt_add_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>var_ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Detail</name>
        <label>Get Opportunity Detail</label>
        <locationX>918</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOppActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>747</locationX>
        <locationY>1398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_OppProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductsFromOpportunity</name>
        <label>GetProductsFromOpportunity</label>
        <locationX>747</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>exito</name>
        <label>exito</label>
        <locationX>277</locationX>
        <locationY>323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_nuevo_producto</targetReference>
        </connector>
        <fields>
            <name>result</name>
            <fieldText>&lt;p&gt;{!pf_icon_ok} El Producto &lt;b&gt;{!var_ProductName}&lt;/b&gt; ha sido asociado a la oportunidad.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crear_nuevo_producto_al_finalizar</name>
            <dataType>Boolean</dataType>
            <fieldText>Crear nuevo producto al finalizar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>lblEstadoOpp</name>
        <label>lblEstadoOpp</label>
        <locationX>1140</locationX>
        <locationY>613</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!pf_icon_error} &lt;/span&gt;Solo puede agregar productos a una oportunidad en &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;etapa &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Contacto &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;y&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; Simulación&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductoOpp</name>
        <label>Producto de la oportunidad</label>
        <locationX>747</locationX>
        <locationY>1278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <fields>
            <name>text_message</name>
            <fieldText>&lt;p&gt;Seleccione el producto y luego presione &lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Siguiente&lt;/b&gt;&lt;b&gt; &lt;/b&gt;para asociar el producto a la oportunidad&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioRecords</name>
            <choiceReferences>rad_productos_Records</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nuevo Producto</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blanktxt</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_titleproducts</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Productos asociados en oportunidad:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!var_ProductnameLst}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>txt_add_error</name>
        <label>txt_add_error</label>
        <locationX>50</locationX>
        <locationY>1061</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!pf_icon_error} Error al agregar el producto a la oportunidad. Contacte al administrador.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Detalle del error:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>792</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Get_Opportunity_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProductnameLst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
